<div style="padding: 24px">

    <h2 mat-dialog-title>Payment</h2>

    <mat-dialog-content class="mat-typography">


        <form style="width: 400px" novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">

            <div class="separator">Cart</div>
            <br>

            <p>{{order_data.order.tire.article_desc}} &nbsp; x {{order_data.order.choices.length}} <span
                    class="price">${{ order_data.order.tire.cost }}</span></p>

            <p style="font-weight: 900">Total <span class="price-total">${{ final_cost }}</span></p>
            <br>
            <br>

            <div class="separator">Card Payment</div>

            <br><br>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Jane Doe" formControlName="name">
                    <mat-icon matSuffix>face</mat-icon>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Address Line 1</mat-label>
                    <input matInput placeholder="Jane Doe" formControlName="address_line1">
                    <mat-icon matSuffix>face</mat-icon>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Address Line 2</mat-label>
                    <input matInput placeholder="Jane Doe" formControlName="address_line2">
                    <mat-icon matSuffix>face</mat-icon>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Jane Doe" formControlName="address_city">
                    <mat-icon matSuffix>face</mat-icon>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="Jane Doe" formControlName="address_state">
                    <mat-icon matSuffix>face</mat-icon>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput placeholder="Jane Doe" formControlName="address_country">
                    <mat-icon matSuffix>face</mat-icon>
                </mat-form-field>
            </p>



            <div style="margin-bottom: 36px" id="card-element" class="field"></div>

            <div class="separator">Review</div>
            <mat-list>
                <mat-list-item>
                    <mat-icon mat-list-icon>today</mat-icon>
                    <div mat-line><b>Time</b>: &nbsp; {{order_data.order.time}}</div>

                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon mat-list-icon>schedule</mat-icon>
                    <div mat-line><b>Date</b>: &nbsp; {{order_data.order.time}}</div>

                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon mat-list-icon>attach_money</mat-icon>
                    <div mat-line><b>Price</b>: &nbsp; {{final_cost}}</div>

                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon mat-list-icon>directions_car</mat-icon>
                    <div mat-line><b>Tire</b>: &nbsp; {{order_data.order.tire.article_desc }}</div>

                </mat-list-item>

            </mat-list>
                   
            <br>
            <br>

                    <button style="width: 100%;" color="primary" mat-flat-button mat-dialog-close type="submit">
                        Confirm Order & Payment
                    </button>
        </form>



    </mat-dialog-content>

</div>