<mat-toolbar>
  <span><img src="assets/tit-logo.png" width="100px"></span>
  <span>Tires In Time</span>

  <!-- This fills the remaining space of the current row -->

  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/schedule-form">Schedule an Appointment</button>
  <span class="fill-remaining-space"></span>
  <ng-template [ngIf]="show_nav">
    <button mat-button color="primary" (click)="logout()">Logout</button>
  </ng-template>
</mat-toolbar>


<div class="container">

  <alert></alert>
  <router-outlet></router-outlet>

</div>