<div class="landing-page-container">

    <div class="form-container-centered ">
        <div class="container-title">
            <div class="text">
                <h1> Now Your Tires Come To You!</h1>
                <button mat-raised-button color="primary" routerLink="/schedule-form"> Schedule Now! </button>
            </div>
            <div class="picture">
                <img class="tire-photo" src="assets/tires_stack.png" >
            </div> 
        </div>

        <div class="container-process">
            <h1>How It Works</h1>

            

        </div>

    </div>
</div>